// Farben ############################################
$primary-color: #6FB3DE;
$second-color: #F4A24C;
$light-color: #DFE0DF;
$dark-color: #2F4858;
$white-color: #ffffff;
$black-color: black;

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;

    --bg: white;
    --font: #262e3a;
    --bg-light: #fafbfe;
}

html[data-theme="dark"] {
    --bg: #161b22;
    --font: white;
    --bg-light: #0c1b2e;
}

body {
    background-color: var(--bg) !important;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

.light-dark-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.5rem;
}


#coockiebox {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 999;
    opacity: 0.9;
}

.skip-to-content-link {
    left: 5%;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skip-to-content-link:focus {
    transform: translateY(20%);
}

.container{
    @media only screen and (min-width: 561px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
  }

@media only screen and (max-width: 560px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
}

.section{
    @media only screen and (min-width: 561px) {
        padding-top: 2.5em;
        padding-bottom: 2.5rem;
  }

@media only screen and (max-width: 560px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
}

.btn-secondary{
    background-color: $second-color!important;
    color: $white-color!important;
    border-color: $second-color!important;

}


.s-beginn{
    .col-img{
        .ce-image{
            overflow: unset!important;
        }
    }
}


.s-beginn{
  .c-beginn{
padding-top: 0;
.row{
  align-items: flex-end;
}

    @media only screen and (min-width: 992px) {
         padding-left: 12%;
    padding-right: 12%;
    }

         .col-img{
             padding-left: 0;
             padding-right: 0;

        .frame {
       
        img{
            max-width: 100%;
             height: auto;

             @media only screen and (max-width: 560px) {
                  margin-bottom: 2.2rem;
                  
                }
            
        }

        }
    }  
      .col-beginn{
    z-index: 99;
    padding-right: 0;
    
    h1{
        white-space: nowrap;
        
    }
       @media only screen and (max-width: 991px) {
        padding-left: 24px!important;
    }
       @media only screen and (min-width: 992px) {
        padding-left: 0!important;
    }
    }

  }
 
 
}



.frame p{
    margin: 0 0 0 0;
}

.s-tools{
  .col{
      display: flex;
      justify-content: space-around;
  }
  svg{
      height: 100px;
      width: 100px;
  }
}

.btn{
    p{
        white-space: nowrap;
    }
    &:hover{
        p{
            color: white;
        }
    }
}

.btn-check:focus+.btn-outline-dark, .btn-outline-dark:focus {
    box-shadow: none!important;
}

img{
    max-width: 100%;
    height: auto;
}

.c-quote{
     img{
    height: unset;
    max-width: unset;
}

.quote-text{
    display: flex;
    justify-content: center;
    flex-direction: column;

    p{
        text-align: center;
    }
    .frame{
        @media only screen and (min-width: 767px) {
             max-width: 80%;
        }
        display: block;
        margin: 0 auto;
    }
}

}

.c-art-cards{
    @media only screen and (max-width: 1199px) {

    .card{
          //  max-width: 80%;
       }
    .col-card{
        display: flex;
        justify-content: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    }
}

.card{

    background: rgba( 255, 255, 255, 0.25 )!important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )!important;
    backdrop-filter: blur( 2.5px )!important;
    -webkit-backdrop-filter: blur( 2.5px )!important;
    border-radius: 4px!important;
  //  border: 1px solid rgba( 255, 255, 255, 0.18 )!important;

    .frame{
        transform: scale(1.007);
    }
    img{
       border-radius: 4px 4px 0 0;
    }
}


.cards-fluid{
    padding: 0 0 0 0;
    position: relative;
    z-index: -1;
}

@media only screen and (min-width: 1199px) {
        .cards-fluid::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: white;
    }
}

.carousel-fluid{
position: relative;
padding: 0 0 0 0;
}
.carousel-fluid::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: white;
    }


.carousel{
    margin-bottom: 14px;
    margin-top: 14px;
}

.carousel-indicators{
    margin-bottom: 0;
    bottom: -33px;
}


.btn{
    padding: 5px 12px;
    -webkit-appearance: none!important;
}

.card-body{
    .frame:first-child{
        margin-bottom: 1rem;
    }
    h3{
        margin-top: 5px;
    }
}




    .container, .container-lg, .container-md, .container-sm, .container-xl {
        @media (max-width: 1628px) and (min-width: 1427px){
              max-width: 1111px;
        }
        @media (max-width: 1426px) and (min-width: 1200px){
            max-width: 908px;
      }
    }
