ul .list-group-item{
    padding: 14px 0;
}

.footer{
    .list-group{
            a{
                &:hover{
                    opacity: .8;
                }


            }
        }
    
 
        .container-fluid{
            @media only screen and (max-width: 990px) {
                a,p{
                    font-size: 12px!important;
                }
    
                


                
            }
        }


        .container{
            .list-group-flush>.list-group-item{
                border-width: 0 0 0 0;
            }
            .row{
                justify-content: space-between;
            }
            .footer-end{
                border-top: 1px solid black;
                .frame{
                    text-align: center;
                    padding-top: 2rem;
                }
            }

            .nav-link{
                .logo{
                    font-size: 32px;
                    padding-left: 12px;
                }
            }
            .col-to-top{
              
            }
        }
    }
    