
    $primary-color: #6FB3DE;
    $second-color: #F4A24C;
    $light-color: #DFE0DF;
    $dark-color: #0c1b2e;
    $white-color: #ffffff;
    $black-color: black;

ul .list-group-item{
    padding: 14px 0;
}

.footer{
position: relative;
margin-top: 30px;



a:hover{
    color: $dark-color;
}


.link-to-top{
    content: ' ';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: $primary-color;
   
    top: -30px;
    border-radius: 50%;
    &::before{
        content: ' ';
    position: absolute;
    height: 20px;
    width: 20px;
    right: 33%;
    top: 24px;
    border-top: 3px solid black;
    transform: rotate(45deg);
    border-left: 3px solid black;
    z-index: 9;
    }
}

    .list-group{
            a{
                &:hover{
                    opacity: .8;
                }


            }
        }
    
 
        .container-fluid{
            @media only screen and (max-width: 990px) {
                a,p{
                    font-size: 12px!important;
                }
    
                


                
            }
        }


        .container{
            .list-group-flush>.list-group-item{
                border-width: 0 0 0 0;
            }
            .row{
                justify-content: space-between;
            }
            .footer-end{
                border-top: 1px solid $dark-color;
                .frame{
                    text-align: center;
                    padding-top: 2rem;
                }
            }

            .nav-link{
                .logo{
                    font-size: 22px;
            
                }
            }
            .col-to-top{
              
            }
        }

        .nav-link{
            color: $dark-color;
        }
    }
    