.brand-logo{
    margin-top: 14px;
    text-decoration: unset;
    h2{
        color: rgb(46, 46, 48);
        font-family: 'Yeseva One', cursive;
    }
}

.navbar{
    padding: 4rem 0;
}

.section-navbar{
    position: sticky!important;
    right: 0%;
    top: 46%;

    .collapse{
       position: absolute;
    }
}


.nav-social{
   a{
       img{
        width: 40px;
        opacity: .85;
        padding: 3px 0;
    
        &:hover{
                opacity: 1;
        }
       }
   }
}

.nav-social-group{
   position: absolute;
   bottom: -200%;
  
}

.nav-line-end{
    width: 1px;
    height: 100vh;
    position: absolute;
    left: 48%;
    opacity: .5;
    top: 104%;
}

.nav-line-start{
    width: 1px;
    height: 6vh;
    position: absolute;
    left: 48%;
    top: -31%;
    opacity: .5;
}



  
.tooltiptext{
    visibility: hidden;
    opacity: 0;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px 5px 15px;
    z-index: 1;
    position: absolute;
    left: 120%;
    bottom: 14%;
   
    a{
        color: white;
        text-decoration: none;

        &:hover{
            color: white;
            text-decoration: none;
            opacity: .8;
        }
    }
}

.tooltiptext::before {
    content: "";
  position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #212529 transparent transparent;
  }

  .nav-item:hover{
    .tooltiptext{
        visibility: visible;
        opacity: .85;

    }
  }



  @media only screen and (max-width: 425px) {
      .navbar-brand img{
          width: 16%;
          margin-top: 1.5rem!important;
      }
  }


  
  .xing-icon{
      margin-left: 6px;
  }