.c-project{
    overflow: hidden;




.pjIMG1{
    padding-right: 0;
}

  .pjIMG3{
      padding-bottom: 3px;
  }
     .pjIMG2{
         padding: 0 3px;
     }
      .pjIMG3,
      .pjIMG4{
        padding-left: 0;
        padding-right: 0;
      }
     
      @media (max-width: 767px){
        .pjIMG4{
            padding-left: 3px;
            padding-top: 3px;
        }
        .pjIMG3{
            padding-top: 3px;
        }
      }


    
    .pjIMG1 img,
    .pjIMG2 img{
        
          -o-object-fit: cover;
          object-fit: cover;
          -o-object-position: top center;
          object-position: top center;
          @media (min-width: 1628px){
         height: 500px!important;
      }
      @media (max-width: 1627px) and (min-width: 566px){
        height: 350px!important;
     }
    
      @media (max-width: 767px){
        height: 175px!important;
     }
     
    }


    .pjIMG3,
    .pjIMG4{
        @media (max-width: 767px){
            flex: 0 0 auto;
          width: 50%;
      }
    }
    
    .pjIMG3 img,
    .pjIMG4 img{
        @media (min-width: 1628px){
            height: 248.5px!important;
         }
     
            height: 175px!important;
           
          -o-object-fit: cover;
          object-fit: cover;
          -o-object-position: top center;
          object-position: top center;
    }
    
    
    }

    .projektDes,
    .projektTitel {
        display: flex;
        align-self: flex-end;
    }

    .projektTitel h2{
        margin: 0 0 0 0;
    }

    .projektDes .frame{
        @media (max-width: 565px){
 max-width: 80%;
        padding-left: 14px;
        }
    }