<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default" />
<f:section name="Main">
    <f:comment><!--<f:debug>{_all}</f:debug>--></f:comment>

  
    <f:render partial="Navbar" arguments="{_all}"></f:render>

    <f:switch expression="{data.slug}">
        <f:case value="/datenschutz">
            <f:render partial="Datenschutz" arguments="{_all}"></f:render>
        </f:case>
        <f:case value="/terms-of-use">
            <f:render partial="Impressum" arguments="{_all}"></f:render>
        </f:case>
        <f:case value="/impressum">
            <f:render partial="Impressum" arguments="{_all}"></f:render>
        </f:case>
        <f:case value="/privacy-policy">
            <f:render partial="Datenschutz" arguments="{_all}"></f:render>
        </f:case>
        <f:case value="/404">
            <div class="container">
                 <p><f:cObject typoscriptObjectPath="lib.error"/></p> 
            </div>
           
        </f:case>
        <f:defaultCase>

            <f:render partial="Beginn" arguments="{_all}"></f:render>
            <f:render partial="Quote" arguments="{_all}"></f:render>
            <f:render partial="ArtistCards" arguments="{_all}"></f:render>
            <f:render partial="ArtistProject" arguments="{_all}"></f:render>
            <f:render partial="ArtistValues" arguments="{_all}"></f:render>
            <f:render partial="WebBanner" arguments="{_all}"></f:render>
            <f:render partial="WebSkills" arguments="{_all}"></f:render>
            <f:render partial="WebTools" arguments="{_all}"></f:render>
            <f:render partial="Contact" arguments="{_all}"></f:render>
                    
        </f:defaultCase>

       

     </f:switch>



     <f:render partial="Footer" arguments="{_all}"></f:render>


</f:section>

 
