<!-------------------------Section Artist------------------------------->
  
    <!--Bild Project-->
    <div class="container c-project-beginn">
  
  
      <div class="row">
        <div class="col-6 projektTitel">
          <f:cObject typoscriptObjectPath="lib.projektTitel"/>
        </div>
        <div class="col-6 projektDes">
          <f:cObject typoscriptObjectPath="lib.projektDes"/>
        </div>
      </div>

       </div>

       <div class="container-lg container-fluid c-project p-0">
            <div class="row s-project-gallery">
        <div class="col-md-8 col-7">
          <div class="row">
            <div class="col-md-5 col-6 pjIMG1">
              <f:cObject typoscriptObjectPath="lib.pjIMG1"/>
            </div>
            <div class="col-md-7 col-6 pjIMG2">
              <f:cObject typoscriptObjectPath="lib.pjIMG2"/>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-5">
          <div class="row">
            <div class="col-12 pjIMG3">
              <f:cObject typoscriptObjectPath="lib.pjIMG3"/>
            </div>
            <div class="col-12 pjIMG4">
              <f:cObject typoscriptObjectPath="lib.pjIMG4"/>
            </div>
          </div>
        </div>
      </div>
       </div>
   
  
  
   
  
