<div class="section s-artist" id="2">
  
  <div class="container py-0">
    <div class="row">
      <div class="col-12">
      <h2 class="h2-big"><f:format.raw>{mainnavigation.1.title}</f:format.raw></h2>
      </div>
    </div>
  </div>

  <div class="container-fluid carousel-fluid bg-dark">
     <div class="container c-art-carousel bg-dark d-md-none d-block">


      <div class="row">
        <div class="col">
          <div id="carouselExampleIndicators" class="carousel slide my-0" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active p-5 pt-0">
                    <div class="card d-block mx-auto" style="width: 16rem;">
                      <f:cObject typoscriptObjectPath="lib.zeiImg1"/> 
                      <div class="card-body">
                        <f:cObject typoscriptObjectPath="lib.zeiDes1"/>
                  </div>
                </div>
              </div>
              <div class="carousel-item p-5 pt-0">
               <div class="row">
                  <div class="col ">
                    <div class="card d-block mx-auto" style="width: 16rem;">
                      <f:cObject typoscriptObjectPath="lib.zeiImg2"/>
                  
                      <div class="card-body">
                        <f:cObject typoscriptObjectPath="lib.zeiDes2"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item p-5 pt-0">
                    <div class="card d-block mx-auto" style="width: 16rem;">
                      <f:cObject typoscriptObjectPath="lib.zeiImg3"/> 
                      <div class="card-body">
                        <f:cObject typoscriptObjectPath="lib.zeiDes3"/>
                  </div>
                </div>
              </div>
              <div class="carousel-item p-5 pt-0">
                <div class="card d-block mx-auto" style="width: 16rem;">
                  <f:cObject typoscriptObjectPath="lib.zeiImg4"/> 
                  <div class="card-body">
                    <f:cObject typoscriptObjectPath="lib.zeiDes4"/>
              </div>
            </div>
          </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
 
<div class="container-fluid cards-fluid bg-dark">
  <div class="container c-art-cards d-none d-md-block">

    <div class="row">
  <!--Card 01-->
      <div class="col-xl-3 col-6 col-card">
        <div class="card card-1">
          <f:cObject typoscriptObjectPath="lib.zeiImg1"/>
          <div class="card-body">
            <f:cObject typoscriptObjectPath="lib.zeiDes1"/>
          </div>
        </div>
      </div>
  <!--Card 02-->
      <div class="col-xl-3 col-6 col-card">
        <div class="card card-2">
          <f:cObject typoscriptObjectPath="lib.zeiImg2"/>
          <div class="card-body">
            <f:cObject typoscriptObjectPath="lib.zeiDes2"/>
          </div>
        </div>
      </div>
  <!--Card 03-->
      <div class="col-xl-3 col-6 col-card">
        <div class="card card-3">
          <f:cObject typoscriptObjectPath="lib.zeiImg3"/>
          <div class="card-body">
            <f:cObject typoscriptObjectPath="lib.zeiDes3"/>
          </div>
        </div>
      </div>
  <!--Card 04-->
      <div class="col-xl-3 col-6 col-card">
        <div class="card card-4">
          <f:cObject typoscriptObjectPath="lib.zeiImg4"/>
          <div class="card-body">
            <f:cObject typoscriptObjectPath="lib.zeiDes4"/>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
