
  <!-------------------------Section Beginn------------------------------->
  <div class="section s-beginn">
  
    <div class="container c-beginn">
    
      <div class="row">
    
      <div class="col-6 col-beginn">
    
        <div class="row">
          <f:cObject typoscriptObjectPath="lib.beginnText"/>
        </div>
    
        <div class="d-flex">
          <a href="#" type="button" class="btn btn-secondary me-4">
            <f:cObject typoscriptObjectPath="lib.beginnLink1"/>
          </a>
          <a href="#" type="button" class="btn btn-outline-dark">
            <f:cObject typoscriptObjectPath="lib.beginnLink2"/>
          </a>
        </div>
    
      </div>
      <div class="col-6">
        <img src="typo3conf/ext/sns_template/Resources/Public/Images/img/start/silas-kreis.PNG" class="img-fluid d-block mx-auto">
      </div>
    
      </div>
    
    
    </div>