  <div class="section s-beginn pt-0">
  
    <div class="container c-beginn" data-aos="fade-up">
    
      <div class="row">
    
      <div class="col-6 col-beginn pt-sm-0 pt-3">
    
        <div class="row">
          <span   data-aos="flip-left"
          data-aos-duration="700"
          data-aos-delay="300">
             <f:cObject typoscriptObjectPath="lib.beginnText"/>
          </span>
         
        </div>
    
        <div class="d-flex mt-4">
        
            <f:cObject typoscriptObjectPath="lib.beginnLink1"/>
          
       
            <f:cObject typoscriptObjectPath="lib.beginnLink2"/>
          
        </div>
    
      </div>
      <div class="col-6 col-img"
      data-aos="zoom-in"
      data-aos-duration="1000"
      data-aos-delay="500"
      >
        <f:cObject typoscriptObjectPath="lib.beginnImg"/>
      </div>
      </div>
    </div>