  <div class="section s-beginn">
  
    <div class="container c-beginn">
    
      <div class="row">
    
      <div class="col-6 col-beginn">
    
        <div class="row">
          <f:cObject typoscriptObjectPath="lib.beginnText"/>
        </div>
    
        <div class="d-flex mt-4">
        
            <f:cObject typoscriptObjectPath="lib.beginnLink1"/>
          
       
            <f:cObject typoscriptObjectPath="lib.beginnLink2"/>
          
        </div>
    
      </div>
      <div class="col-6 col-img">
        <f:cObject typoscriptObjectPath="lib.beginnImg"/>
      </div>
      </div>
    </div>