<div class="section s-contact" id="4">
    <div class="container c-contact bg-light p-sm-5">
      <div class="row">
        <div class="col-sm-6 contact-left pb-sm-0 pb-4">
         
          <f:cObject typoscriptObjectPath="lib.contactTitle"/>
          <f:cObject typoscriptObjectPath="lib.contactContent"/>

        </div>
        <div class="col-sm-6 contact-right">
          <f:cObject typoscriptObjectPath="lib.contactTitleRight"/>
          <f:cObject typoscriptObjectPath="lib.contact"/>
          </div>
  
        
         
  
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  </div>
  
  
    <div id="coockiebox" style="display:none;" class="toast align-items-center text-white bg-dark border-0 p-3" role="alert" aria-live="assertive" aria-atomic="true"  onclick="this.style.display='none'; document.cookie = 'cookiestatus= true; expires = Thu, 01 Jan 2070 00:00:00 GMT'; ">
      <div class="d-flex">
        <div class="toast-body">
          <div id="cookie-text">
            <f:cObject typoscriptObjectPath="lib.cookieText"/>
          </div>
          <a class="btn btn-outline-light btn-sm py-0 mt-2" href="/datenschutz.html">
            <f:cObject typoscriptObjectPath="lib.cookieBtn"/>
          </a>
        </div>
        <button type="button" class="btn-close btn-close-white m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  
  