  <div class="container c-quote py-sm-0">
  
  
  
    <div class="row">
    
     <div class="col-md-4 col-3 p-0" data-aos="fade-right" data-aos-duration="700">
      <f:cObject typoscriptObjectPath="lib.quoteImgLeft"/>
     </div>
     <div class="col quote-text">
  <f:cObject typoscriptObjectPath="lib.quote"/>
 
     </div>
     <div class="col-md-4 col-3 p-0"  data-aos="fade-left" data-aos-duration="700">
      <f:cObject typoscriptObjectPath="lib.quoteImgRight"/>
     </div>
    
    </div>
  
  
    </div>
  </div>

<div class="container py-lg-0 py-4">
  <hr>
</div>
  