<!-------------------------Section Webentwickler------------------------------->
<div class="section s-webentwickler" id="3">
  
    <div class="container pb-0">
      <div class="row">
        <div class="col-12 ps-sm-0 pb-sm-0 pb-4">
          <h2 class="h2-big"><f:format.raw>{mainnavigation.2.title}</f:format.raw></h2>
        </div>
      </div>
    </div>
  
    <div class="container-fluid c-abstimmung bg-dark py-0">
<div class="container-md p-0">
    <div class="row p-0 m-0"> 
      <div class="col-6 col-banner-img p-0 align-self-end">
        <f:cObject typoscriptObjectPath="lib.bannerImg"/>
      </div>
      <div class="col-6 ps-0 col-banner-text">
        <div class="text-box">
          <f:cObject typoscriptObjectPath="lib.bannerTex"/>
        </div>
      </div>
     </div>
</div>
  
     
  
    </div>
  
  