
  
    <div class="container c-skills">
      <div class="row">
        <div class="col-12 bg-primary p-5 d-block d-md-flex">
          <div class="col-md-6">
            <div class="text-box">
              <f:cObject typoscriptObjectPath="lib.webskillTex"/>
          </div>
          </div>
          <div class="col-md-6 d-none d-md-flex skill-cards">
            <div class="col-md-6">
    <!--Frontend Entwicklung Card-->
              <div class="card card-frontend" style="width: 18rem;">
                <div class="card-body">
                  <f:cObject typoscriptObjectPath="lib.webskillC1"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
    <!--Backend Entwicklung Card-->
              <div class="card card-backend" style="width: 18rem;">
                <div class="card-body">
                  <f:cObject typoscriptObjectPath="lib.webskillC2"/>
                </div>
              </div>
    <!--UX Design Entwicklung Card-->
              <div class="card card-design" style="width: 18rem;">
                <div class="card-body">
                  <f:cObject typoscriptObjectPath="lib.webskillC3"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<div class="row d-md-none d-block">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
                <div class="card d-block mx-auto" style="width: 18rem;">
                  <img src="typo3conf/ext/sns_template/Resources/Public/Images/img-sm/artist/joker.webp" class="card-img-top" alt="Joker Zeichnung" title="Joker Zeichnung">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-secondary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
           <div class="row">
              <div class="col ">
                <div class="card d-block mx-auto" style="width: 18rem;">
                  <img src="typo3conf/ext/sns_template/Resources/Public/Images/img-sm/artist/juicewrld.webp" class="card-img-top" alt="Juice Wrld Zeichnung" title="Juice Wrld Zeichnung">
                  <div class="card-body">
                    <h5 class="card-title">1 Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-secondary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
                <div class="card d-block mx-auto" style="width: 18rem;">
                  <img src="typo3conf/ext/sns_template/Resources/Public/Images/img-sm/artist/rickandmorty.webp" class="card-img-top" alt="Rick and Morty Zeichnung" title="Rick and Morty Zeichnung">
                  <div class="card-body">
                    <h5 class="card-title">2 Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-secondary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="card d-block mx-auto" style="width: 18rem;">
              <img src="typo3conf/ext/sns_template/Resources/Public/Images/img-sm/artist/frau-klavier.webp" class="card-img-top" alt="Frau am Klavier Zeichnung" title="Frau am Klavier Zeichnung">
              <div class="card-body">
                <h5 class="card-title">3 Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-secondary">Go somewhere</a>
          </div>
        </div>
      </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  </div>

  

  
  
  <div class="container c-tools">
  
    <div class="row">
      <div class="col-12">
        <f:cObject typoscriptObjectPath="lib.webTools"/>
      </div>
    </div>
  
    <div class="row s-tools">
      <div class="col">
        <f:cObject typoscriptObjectPath="lib.webToolsIco"/>
      </div>
    </div>
  
  </div>
  
  
  
  
  </div>
  
  <div class="hr"></div>
     