<div class="container c-skills">
  <div class="row">
    <div class="col-12 bg-primary p-5 pb-lg-5 pb-0 d-block d-md-flex">
      <div class="col-lg-5">
        <div class="text-box">
          <f:cObject typoscriptObjectPath="lib.webskillTex" />
        </div>
      </div>
      <div class="col-md-7 d-none d-lg-flex skill-cards">
        <div class="col-md-6 col-card-1">
          <!--Card 01-->
          <div class="card card-frontend" style="width: 18rem;" data-aos="fade-up" data-aos-duration="700"
            data-aos-delay="300">
            <div class="card-body">
              <f:cObject typoscriptObjectPath="lib.webskillC1" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-card-2">
          <!--Card 02-->
          <div class="card card-backend" style="width: 18rem;" data-aos="fade-up" data-aos-duration="1200"
            data-aos-delay="500">
            <div class="card-body">
              <f:cObject typoscriptObjectPath="lib.webskillC2" />
            </div>
          </div>
          <!--Card 03-->
          <div class="card card2 card-design" style="width: 18rem;" data-aos="fade-up" data-aos-duration="1200"
            data-aos-delay="500">
            <div class="card-body">
              <f:cObject typoscriptObjectPath="lib.webskillC3" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-lg-none d-block bg-primary">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide my-0" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active p-5">
            <div class="card d-block mx-auto" style="width: 16rem;">

              <div class="card-body">
                <f:cObject typoscriptObjectPath="lib.webskillC1" />
              </div>
            </div>
          </div>
          <div class="carousel-item p-5">
            <div class="row">
              <div class="col">
                <div class="card d-block mx-auto" style="width: 16rem;">
                  <div class="card-body">
                    <f:cObject typoscriptObjectPath="lib.webskillC2" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item p-5">
            <div class="card d-block mx-auto" style="width: 16rem;">
              <div class="card-body">
                <f:cObject typoscriptObjectPath="lib.webskillC3" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>