
  
    <div class="container c-skills">
        <div class="row">
          <div class="col-12 bg-primary p-5 d-block d-md-flex">
            <div class="col-lg-6">
              <div class="text-box">
                <f:cObject typoscriptObjectPath="lib.webskillTex"/>
            </div>
            </div>
            <div class="col-md-6 d-none d-lg-flex skill-cards">
              <div class="col-md-6 col-card-1">
      <!--Frontend Entwicklung Card-->
                <div class="card card-frontend" style="width: 18rem;">
                  <div class="card-body">
                    <f:cObject typoscriptObjectPath="lib.webskillC1"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-card-2">
      <!--Backend Entwicklung Card-->
                <div class="card card-backend" style="width: 18rem;">
                  <div class="card-body">
                    <f:cObject typoscriptObjectPath="lib.webskillC2"/>
                  </div>
                </div>
      <!--UX Design Entwicklung Card-->
                <div class="card card2 card-design" style="width: 18rem;">
                  <div class="card-body">
                    <f:cObject typoscriptObjectPath="lib.webskillC3"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
  <div class="row d-lg-none d-block bg-primary">
      <div class="col pb-5">
        <div id="carouselExampleIndicators" class="carousel slide my-0" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active p-5 pt-0">
                  <div class="card d-block mx-auto" style="width: 16rem;">

                    <div class="card-body">
                        <f:cObject typoscriptObjectPath="lib.webskillC1"/>
                      </div>

              </div>
              
            </div>
            <div class="carousel-item p-5 pt-0">
             <div class="row">
                <div class="col">
                  <div class="card d-block mx-auto" style="width: 16rem;">
                   
                    <div class="card-body">
                        <f:cObject typoscriptObjectPath="lib.webskillC2"/>
                      </div>


                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item p-5 pt-0">
                  <div class="card d-block mx-auto" style="width: 16rem;">
                    <div class="card-body">
                        <f:cObject typoscriptObjectPath="lib.webskillC3"/>
                      </div>



              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  
    </div>
  
    
  
    