    <div class="container c-tools">
  
    <div class="row">
      <div class="col-12 ps-sm-0">
        <f:cObject typoscriptObjectPath="lib.webTools"/>
      </div>
    </div>
  
    <div class="row s-tools mt-lg-5 mt-2">
      <div class="col-lg-4 d-flex p-0 my-2" data-aos="fade-up"data-aos-duration="700" data-aos-delay="300">
        <f:cObject typoscriptObjectPath="lib.webToolsRow1" />
      </div>
      <div class="col-lg-4 d-flex p-0 my-2" data-aos="fade-up"data-aos-duration="700" data-aos-delay="600">
        <f:cObject typoscriptObjectPath="lib.webToolsRow2"/>
      </div>
      <div class="col-lg-4 d-flex p-0 my-2" data-aos="fade-up"data-aos-duration="700" data-aos-delay="900">
        <f:cObject typoscriptObjectPath="lib.webToolsRow3"/>
      </div>
    </div>
  
  </div>
  
  
  
  
  </div>
  
<div class="container py-lg-0 py-4">
  <hr>
</div>
     