    <div class="container c-tools">
  
    <div class="row">
      <div class="col-12">
        <f:cObject typoscriptObjectPath="lib.webTools"/>
      </div>
    </div>
  
    <div class="row s-tools mt-lg-5 mt-2">
      <div class="col-lg-4 d-flex p-0 my-2">
        <f:cObject typoscriptObjectPath="lib.webToolsRow1"/>
      </div>
      <div class="col-lg-4 d-flex p-0 my-2">
        <f:cObject typoscriptObjectPath="lib.webToolsRow2"/>
      </div>
      <div class="col-lg-4 d-flex p-0 my-2">
        <f:cObject typoscriptObjectPath="lib.webToolsRow3"/>
      </div>
    </div>
  
  </div>
  
  
  
  
  </div>
  
<div class="container py-lg-0 py-4">
  <hr>
</div>
     