@charset "UTF-8";
#body .bg-dark {
  background-color: #2F4858 !important;
}

#body .bg-light {
  background-color: #DFE0DF !important;
}

#body .bg-primary, #body .btn-primary {
  background-color: #6FB3DE !important;
}

#body .btn-dark {
  color: #ffffff !important;
}

#body h1, #body .display-1 {
  font-family: "Yeseva One", cursive !important;
  color: black;
}

#body .h2-big {
  font-size: 64px;
  color: #F4A24C;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 600px) {
  #body .h2-big {
    font-size: 32px !important;
  }
}

#body p,
#body a, #body button, #body input, #body optgroup, #body select, #body textarea, #body h3, #body h4, #body label {
  font-family: "Josefin Sans", sans-serif !important;
  color: #2F4858;
}

#body h2 {
  font-size: 48px;
  color: #6FB3DE;
  font-family: "Yeseva One", cursive !important;
}

#body h3 {
  font-size: 18px;
  color: #F4A24C;
}

#body p {
  font-size: 16px;
  color: var(--font);
}

#body .nav-link span {
  letter-spacing: 2px;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  --bg: white;
  --font: #262e3a;
  --bg-light: #fafbfe;
}

html[data-theme="dark"] {
  --bg: #161b22;
  --font: white;
  --bg-light: #0c1b2e;
}

body {
  background-color: var(--bg) !important;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

.light-dark-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.5rem;
}

#coockiebox {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 999;
  opacity: 0.9;
}

.skip-to-content-link {
  left: 5%;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.skip-to-content-link:focus {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

@media only screen and (min-width: 561px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 560px) {
  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (min-width: 561px) {
  .section {
    padding-top: 2.5em;
    padding-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 560px) {
  .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.btn-secondary {
  background-color: #F4A24C !important;
  color: #ffffff !important;
  border-color: #F4A24C !important;
}

.s-beginn .col-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.s-beginn .col-img .ce-image {
  overflow: unset !important;
}

.s-beginn .c-beginn {
  padding-top: 0;
}

.s-beginn .c-beginn .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (min-width: 992px) {
  .s-beginn .c-beginn {
    padding-left: 12%;
    padding-right: 12%;
  }
}

.s-beginn .c-beginn .col-img {
  padding-left: 0;
  padding-right: 0;
}

.s-beginn .c-beginn .col-img .frame img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 560px) {
  .s-beginn .c-beginn .col-img .frame img {
    margin-bottom: 2.2rem;
  }
}

.s-beginn .c-beginn .col-beginn {
  z-index: 99;
  padding-right: 0;
}

@media only screen and (max-width: 991px) {
  .s-beginn .c-beginn .col-beginn {
    padding-left: 24px !important;
  }
}

@media only screen and (min-width: 992px) {
  .s-beginn .c-beginn .col-beginn {
    padding-left: 0 !important;
  }
}

.frame p {
  margin: 0 0 0 0;
}

.s-tools .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.s-tools svg {
  height: 100px;
  width: 100px;
}

.btn p {
  white-space: nowrap;
}

.btn:hover p {
  color: white;
}

.btn-check:focus + .btn-outline-dark, .btn-outline-dark:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.c-quote img {
  height: unset;
  max-width: unset;
}

.c-quote .quote-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-quote .quote-text p {
  text-align: center;
}

.c-quote .quote-text .frame {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 767px) {
  .c-quote .quote-text .frame {
    max-width: 80%;
  }
}

@media only screen and (max-width: 1199px) {
  .c-art-cards .col-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.card {
  background: rgba(255, 255, 255, 0.25) !important;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2.5px) !important;
  -webkit-backdrop-filter: blur(2.5px) !important;
  border-radius: 4px !important;
}

.card .frame {
  -webkit-transform: scale(1.007);
          transform: scale(1.007);
}

.card img {
  border-radius: 4px 4px 0 0;
}

.cards-fluid {
  padding: 0 0 0 0;
  position: relative;
  z-index: -1;
}

@media only screen and (min-width: 1199px) {
  .cards-fluid::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: white;
  }
}

.carousel-fluid {
  position: relative;
  padding: 0 0 0 0;
}

.carousel-fluid::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: white;
}

@media (max-width: 767px) {
  .carousel-fluid::before {
    height: 40%;
  }
}

.carousel {
  margin-bottom: 14px;
  margin-top: 14px;
}

.carousel-indicators {
  margin-bottom: 0;
  bottom: -33px;
}

.btn {
  padding: 5px 12px;
  -webkit-appearance: none !important;
}

.card-body .frame:first-child {
  margin-bottom: 1rem;
}

.card-body h3 {
  margin-top: 5px;
}

@media (max-width: 1628px) and (min-width: 1427px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1111px;
  }
}

@media (max-width: 1426px) and (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 908px;
  }
}

body h2 {
  font-size: 48px;
  color: #6fb3de;
  font-family: "Yeseva One", cursive !important;
}

body h3 {
  font-size: 24px;
  color: #f4a24c !important;
}

body p {
  font-size: 16px;
  color: var(--font);
}

@media (max-width: 767px) {
  body h2 {
    font-size: 32px;
  }
  body h3 {
    font-size: 20px;
  }
  body p {
    font-size: 12px;
  }
}

body .bg-primary h2 {
  color: #0c1b2e !important;
}

.brand-logo {
  margin-top: 14px;
  text-decoration: unset;
}

.brand-logo h2 {
  color: #2e2e30;
  font-family: 'Yeseva One', cursive;
}

.navbar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  z-index: 999;
}

.section-navbar {
  position: -webkit-sticky !important;
  position: sticky !important;
  right: 0%;
  top: 46%;
}

.section-navbar .collapse {
  position: absolute;
}

.nav-social a img {
  width: 40px;
  opacity: .85;
  padding: 3px 0;
}

.nav-social a img:hover {
  opacity: 1;
}

.nav-social-group {
  position: absolute;
  bottom: -192px !important;
}

.nav-social-group .frame {
  margin: 8px 0;
  opacity: .8;
}

.nav-line-end {
  width: 1px;
  height: 100vh;
  position: absolute;
  left: 48%;
  opacity: .5;
  top: 104%;
}

.nav-line-start {
  width: 1px;
  height: 6vh;
  position: absolute;
  left: 48%;
  top: -31%;
  opacity: .5;
}

.tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px 5px 15px;
  z-index: 1;
  position: absolute;
  left: 120%;
  bottom: 14%;
}

.tooltiptext a {
  color: white;
  text-decoration: none;
}

.tooltiptext a:hover {
  color: white;
  text-decoration: none;
  opacity: .8;
}

.tooltiptext::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #212529 transparent transparent;
}

.nav-item:hover .tooltiptext {
  visibility: visible;
  opacity: .85;
}

@media only screen and (max-width: 425px) {
  .navbar-brand img {
    width: 16%;
    margin-top: 1.5rem !important;
  }
}

.xing-icon {
  margin-left: 6px;
}

.display-1 span {
  background-image: linear-gradient(transparent calc(65% - 5px), rgba(96, 149, 143, 0.3) 5px);
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.display-1:hover span {
  background-size: 100%;
}

.bg-dark h2,
.bg-dark h4,
.bg-dark p {
  color: white !important;
}

p a {
  color: black !important;
}

p a:hover {
  opacity: .8;
}

#body .section-logo .logo {
  color: black;
  font-size: 22px;
}

.bi-check-circle {
  padding-bottom: 3px;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.s-beginn .c-beginn p:last-child {
  padding-right: 0;
}

.s-beginn .c-beginn .img-fluid {
  width: 350px !important;
}

.s-beginn .c-beginn .span-name {
  color: #F4A24C;
}

.s-beginn .c-beginn .span-art,
.s-beginn .c-beginn .span-web {
  color: #6FB3DE;
}

.s-artist .c-werte .bg-light {
  padding: 3rem;
}

@media (max-width: 565px) {
  .s-artist .c-werte .bg-light {
    padding: 2rem;
  }
}

.s-artist .c-werte .bg-light svg {
  margin-bottom: 1.5rem;
}

.s-artist .c-art-cards {
  position: relative;
}

.s-artist .c-art-cards .card-img-top {
  height: 240px;
}

.s-webentwickler .c-abstimmung {
  padding: 3rem 0;
  position: relative;
  overflow-y: visible;
}

.s-webentwickler .c-abstimmung .col-sm-6 {
  position: relative;
}

.s-webentwickler .c-abstimmung .github-profil-img {
  position: absolute;
  bottom: -48px;
  right: 10%;
}

.s-webentwickler .c-skills .text-box {
  max-width: 85%;
}

.s-webentwickler .c-skills .skill-cards {
  position: relative;
}

.s-webentwickler .c-skills .skill-cards .card-backend, .s-webentwickler .c-skills .skill-cards .card-design {
  position: absolute;
}

.s-webentwickler .c-skills .skill-cards .card-backend {
  top: -120px;
}

.s-webentwickler .c-skills .skill-cards .card-design {
  bottom: -120px;
}

.s-contact .c-contact .btn-contact {
  width: 100%;
}

.s-contact .c-contact .contact-left svg {
  margin-left: 3px;
  width: 30px;
  margin-right: 1.5rem;
  z-index: 99;
  position: relative;
  right: -5px;
}

.s-contact .c-contact .contact-left li:first-child {
  padding: 0;
}

.s-contact .c-contact .contact-left li:first-child::before {
  margin-top: 8px;
}

.s-contact .c-contact .contact-left li {
  list-style: none;
  padding: 5px 0;
}

.s-contact .c-contact .contact-left li::before {
  position: absolute;
  content: '';
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #ffffff;
}

.s-contact .c-contact .contact-left ul {
  padding: 0 0 0 0;
}

ul .list-group-item {
  padding: 14px 0;
}

.footer {
  position: relative;
  margin-top: 30px;
}

.footer .link-to-top {
  content: ' ';
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: #DFE0DF;
  top: -30px;
  border-radius: 50%;
}

.footer .link-to-top::before {
  content: ' ';
  position: absolute;
  height: 20px;
  width: 20px;
  right: 33%;
  top: 24px;
  border-top: 3px solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 3px solid black;
  z-index: 9;
}

.footer .list-group a:hover {
  opacity: .8;
}

@media only screen and (max-width: 990px) {
  .footer .container-fluid a, .footer .container-fluid p {
    font-size: 12px !important;
  }
}

.footer .container .list-group-flush > .list-group-item {
  border-width: 0 0 0 0;
}

.footer .container .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container .footer-end {
  border-top: 1px solid black;
}

.footer .container .footer-end .frame {
  text-align: center;
  padding-top: 2rem;
}

.footer .container .nav-link .logo {
  font-size: 22px;
}

.footer .nav-link {
  color: black;
}

.sns-tup .text-top {
  height: 20%;
}

@media only screen and (max-width: 1200px) {
  .sns-tup .text-top {
    height: 15%;
  }
}

@media only screen and (max-width: 990px) {
  .sns-tup .text-top {
    height: 13%;
  }
}

@media only screen and (max-width: 770px) {
  .sns-tup .text-top {
    height: 16%;
  }
}

@media only screen and (max-width: 990px) {
  .sns-flipcard {
    height: 180px !important;
    width: 180px !important;
  }
}

.sns-flipcard-back {
  position: relative;
}

.sns-flipcard-back .btn {
  position: absolute;
  bottom: 6%;
  left: 27%;
}

.sns-flipcard-back .card-title {
  margin-bottom: .2rem;
}

.preload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fafbfe;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  z-index: 999999999999999999999;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.sns-flipcard {
  background-color: #fff !important;
}

.c-project {
  overflow: hidden;
}

.c-project .pjIMG1 {
  padding-right: 0;
}

.c-project .pjIMG3 {
  padding-bottom: 3px;
}

.c-project .pjIMG2 {
  padding: 0 3px;
}

.c-project .pjIMG3,
.c-project .pjIMG4 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 767px) {
  .c-project .pjIMG4 {
    padding-left: 3px;
    padding-top: 3px;
  }
  .c-project .pjIMG3 {
    padding-top: 3px;
  }
}

.c-project .pjIMG1 img,
.c-project .pjIMG2 img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
}

@media (min-width: 1628px) {
  .c-project .pjIMG1 img,
  .c-project .pjIMG2 img {
    height: 500px !important;
  }
}

@media (max-width: 1627px) and (min-width: 566px) {
  .c-project .pjIMG1 img,
  .c-project .pjIMG2 img {
    height: 350px !important;
  }
}

@media (max-width: 767px) {
  .c-project .pjIMG1 img,
  .c-project .pjIMG2 img {
    height: 175px !important;
  }
}

@media (max-width: 767px) {
  .c-project .pjIMG3,
  .c-project .pjIMG4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
}

.c-project .pjIMG3 img,
.c-project .pjIMG4 img {
  height: 175px !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
}

@media (min-width: 1628px) {
  .c-project .pjIMG3 img,
  .c-project .pjIMG4 img {
    height: 248.5px !important;
  }
}

.projektDes,
.projektTitel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-values {
  margin-top: 1.5rem;
}

@media (min-width: 991px) {
  .c-werte .ce-bodytext {
    max-width: 80%;
  }
}

@media (max-width: 565px) {
  .c-werte svg {
    width: inherit;
    max-width: 150px;
    position: absolute;
    left: 12px;
  }
  .c-werte .text-box {
    margin-left: 40%;
  }
  .c-werte .col-value {
    padding: .5rem;
  }
}

@media (min-width: 1427px) {
  .c-abstimmung::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: white;
  }
}

.c-abstimmung .col-banner-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
}

.c-abstimmung .col-banner-img .frame:nth-child(2) img {
  display: none;
}

@media (max-width: 767px) {
  .c-abstimmung .col-banner-img .frame:nth-child(2) img {
    display: block;
    max-width: 95%;
  }
}

.c-abstimmung .col-banner-img .frame:first-child img {
  display: block;
}

@media (max-width: 767px) {
  .c-abstimmung .col-banner-img .frame:first-child img {
    display: none;
  }
}

.c-abstimmung .col-banner-img img {
  height: auto;
  overflow: hidden;
}

.c-abstimmung .col-banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 3rem;
}

@media (max-width: 1426px) {
  .c-abstimmung .col-banner-text .text-box {
    padding-bottom: 3rem;
  }
}

.c-skills .col-card-1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.c-tools div {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.c-tools .frame svg {
  display: block;
  margin: 0 auto;
}

.c-tools .s-tools .frame svg {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .c-tools .s-tools .frame svg {
    max-width: 60%;
  }
}
/*# sourceMappingURL=main.css.map */