.c-abstimmung{
    @media (min-width: 1427px){

margin: 8rem 0;

    &::before{
            content: ' ';
            position: absolute;
            width: 100%;
            height: 20%;
            background-color: white;
        }
    }
    
    .col-banner-img{
        display: flex;
        align-self: end;



        .frame:nth-child(2) img{
            display: none;
            @media (max-width: 767px){
                    display: block;
                    max-width: 95%;
            }
        }
        .frame:first-child img{
            display: block;
            @media (max-width: 767px){
                    display: none;
            }
        }

        img{
         //   width: 160%;
            height: auto;
          //  transform: translateX(-45%);
          //  max-width: unset;
            overflow: hidden;
        }
    }

    .col-banner-text{
        display: flex;
        align-self: center;
        padding-top: 3rem;

        .text-box{
        @media (max-width: 1426px){
             padding-bottom: 3rem;
        }
            
           }
        
    }

}