.c-tools{



div{
    justify-content: space-around;
}

.frame svg{
    display: block;
    margin: 0 auto;
    padding: 4px;
}

    .s-tools{
        .frame svg{
            max-width: 100%;
            height: auto;


                .bg-circle{
                 //   opacity: .3;
                }



            @media (max-width: 767px){
                max-width: 60%;
            }
        }

    }

}